<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title -%}{{ "Settings"|trans }}{%- endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link href="{{ asset('bundles/ongrsettings/dist/style.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}<div id="app"></div>{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/ongrsettings/dist/bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>
