<div class="modal-header">
    <h3 class="modal-title">Add setting</h3>
</div>
<div class="modal-body">

    <!-- typeahead="profile for profile in profiles | filter:$viewValue | limitTo:8" -->

    <form class="form-horizontal" name="addSettingForm">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6">
                <input id="name" type="text" name="settingName"
                       ng-model="settingService.setting.name" class="form-control" ng-required="true"/>
            </div>
            <p class="help-block" ng-show="addSettingForm.settingName.$error.required">Setting name required!</p>
        </div>
        <div class="form-group">
            <label for="profile" class="col-sm-2 control-label">Profile</label>
            <div class="col-sm-6">
                <input id="profile" type="text" name="settingProfile"
                       ng-model="settingService.setting.profile" class="form-control" ng-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-6">
                <input id="description" type="text" ng-model="settingService.setting.description" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Type</label>
            <div class="btn-group col-sm-8">
                <button type="button" class="btn btn-default"
                        ng-repeat="item in settingService.settingTypes"
                        ng-class="{ 'btn-primary': $index == settingService.selectedTypeIndex }"
                        ng-click="settingService.changeType($index)">
                    {{ item.name }}
                </button>
            </div>
        </div>

        <div class="form-group">
            <label for="value" class="col-sm-2 control-label">Settings</label>
            <div ng-switch="settingService.setting.type" class="col-sm-10">
                <div ng-switch-when="boolean" href="#">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-class="{ 'btn-primary' : settingService.setting.data.value }" ng-model="settingService.setting.data.value" btn-radio="true" uncheckable>On</label>
                        <label class="btn btn-default" ng-class="{ 'btn-primary' : !settingService.setting.data.value }" ng-model="settingService.setting.data.value" btn-radio="false" uncheckable>Off</label>
                    </div>
                </div>

                <div ng-switch-when="array">
                    <ul id="array-values" class="list-unstyled">
                        <li ng-repeat="(key, value) in settingService.setting.data.value track by $index">
                            <div class="input-group">
                                <span class="input-group-addon">{{ key }}</span>
                                <input type="text" class="form-control" ng-model="settingService.setting.data.value[key]">
                                <span class="input-group-btn">
                                    <button ng-click="settingService.arrayUnset(key)" class="btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <button ng-click="settingService.arrayAdd()" class="pull-right btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
                </div>

                <div ng-switch-when="object">
                    <h5 id="yamlSyntaxStatus">Yaml :: Syntax is correct.</h5>
                    <yaml yml="settingService.setting.data.value"></yaml>
                </div>

                <input ng-switch-default id="description" type="text" ng-model="settingService.setting.data.value" class="form-control" />
            </div>
        </div>

        <div class="form-group no-margin-bottom">
            <div class="col-sm-offset-2 col-sm-10">
                <p class="alert alert-success no-margin-bottom" ng-class="{true:'', false:'hidden'}[settingService.status==200]">Setting created successfully.</p>
                <p class="alert alert-danger no-margin-bottom" ng-class="{true:'', false:'hidden'}[settingService.status==400]">Creation failed.</p>
            </div>
        </div>

        <div class="form-group no-margin-bottom" ng-show="addSettingForm.settingValue.$error.required">
            <p class="help-block">Setting value required!</p>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!addSettingForm.$valid" ng-click="settingService.addSetting()">Add</button>
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
</div>
