.inline-edit s {
    cursor: pointer;
}

.inline-edit div {
    display: none;
}

.inline-edit.active a {
    display: none;
}

.inline-edit.active div {
    display: table;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.word-break-all {
    word-break: break-all;
}
.modal-content {
    text-align: center;
}
