<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        {% if ongr_setting_enabled( setting_name, need_auth) %}
            foo_true
        {% else %}
            foo_false
        {% endif %}
    </div>
</body>
</html>