{% extends 'ONGRSettingsBundle::base.html.twig' %}


{% block body %}
    <table id="profiles" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th width="10%">Enable?</th>
            <th>Profile</th>
            <th>Settings list</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {

            var table = $('#profiles').DataTable( {
                ajax: {
                    url: './profiles/get_all_detailed',
                    dataSrc: 'documents'
                },
                stateSave: true,
                order: [[ 1, "asc" ]],
                columns: [
                    { data: 'name' },
                    { data: 'name' },
                    { data: 'settings' },
                    {}
                ],
                columnDefs: [
                    {
                        "targets": 0,
                        "orderable": false,
                        "render": function ( data, type, row ) {
                            var label = $('<label/>').addClass('boolean-property btn btn-default')
                                    .addClass('boolean-property-' + row['id']).attr('data-id', row['id']);
                            var on = label.clone().html('ON').attr('data-element', 'boolean-property-' + row['id'])
                                    .attr('data-value', 1);
                            var off = label.clone().html('OFF').attr('data-element', 'boolean-property-' + row['id'])
                                    .attr('data-value', 0);

                            if (row['value'] == true) {
                                on.addClass('btn-primary');
                            } else {
                                off.addClass('btn-primary');
                            }

                            var cell = $('<div/>').addClass('btn-group btn-group-sm').append(on, off);

                            return cell.prop('outerHTML');
                        }
                    },
                    {
                        "targets": 2,
                        "orderable": false,
                    },
                    {
                        "targets": 3,
                        "data": null,
                        "orderable": false,
                        "defaultContent": '<a class="edit btn btn-primary btn-xs" data-toggle="modal" data-target="#setting-edit">Copy link</a>&nbsp;' +
                        ''
                    } ]
            } );

            $('#profiles tbody').on( 'click', 'label.boolean-property', function () {
                var self = $(this);
                $.post('./settings/update-value/' + self.data('id'), {value:self.data('value')}, function(){
                    var element = self.data('element');
                    $("." + element).toggleClass('btn-primary');
                })
            } );
        })
    </script>
{% endblock %}