{% extends 'ONGRSettingsBundle::base.html.twig' %}


{% block body %}
    <table id="profiles" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th width="10%">Enable?</th>
            <th>Profile</th>
            <th>Settings list</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {

            var table = $('#profiles').DataTable( {
                ajax: {
                    url: './profiles/get_all_detailed',
                    dataSrc: 'documents'
                },
                stateSave: true,
                order: [[ 1, "asc" ]],
                columns: [
                    { data: 'name' },
                    { data: 'name' },
                    { data: 'settings' },
                    {}
                ],
                columnDefs: [
                    {
                        "targets": 0,
                        "orderable": false,
                        "render": function ( data, type, row ) {
                            var className = 'toggle-profile';
                            var label = $('<label/>').addClass('btn btn-default').addClass(className)
                                    .addClass(className + '-' + row['name']).attr('data-name', row['name']);
                            var on = label.clone().html('ON').attr('data-element', className + '-' + row['name']);
                            var off = label.clone().html('OFF').attr('data-element', className + '-' + row['name']);

                            if (row['active'] == true) {
                                on.addClass('btn-primary');
                            } else {
                                off.addClass('btn-primary');
                            }

                            var cell = $('<div/>').addClass('btn-group btn-group-sm').append(on, off);

                            return cell.prop('outerHTML');
                        }
                    },
                    {
                        "targets": 2,
                        "orderable": false,
                    },
                    {
                        "targets": 3,
                        "data": null,
                        "orderable": false,
                        "defaultContent": '<a class="edit btn btn-primary btn-xs" data-toggle="modal" data-target="#setting-edit">Copy link</a>&nbsp;' +
                        ''
                    } ]
            } );

            $('#profiles tbody').on( 'click', 'label.toggle-profile', function () {
                var self = $(this);
                $.post('./profiles/toggle', {name:self.data('name')}, function(){
                    $(".toggle-profile-" + self.data('name')).toggleClass('btn-primary');
                })
            } );
        })
    </script>
{% endblock %}