{% extends 'ONGRSettingsBundle::layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-sm-offset-2 col-sm-6">Add setting</h2>
        </div>
        <form id="addSettingForm" class="form-horizontal" url="" name="addSettingForm">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input id="addSettingName" type="text" name="settingName" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profile" class="col-sm-2 control-label">Profiles</label>
                <div class="col-sm-6">
                    <select id="addSettingProfiles" multiple="multiple" name="settingProfile" class="form-control">
                        {% for profile in profiles %}
                            <option value="{{ profile.name }}">{{ profile.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <input id="addSettingDescription" type="text" name="settingDescription" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type</label>
                <div class="btn-group col-sm-8" id="addSettingType">
                    <label class="setting-type btn btn-default btn-primary" rel="setting-default-div">Default</label>
                    <label class="setting-type btn btn-default" rel="setting-boolean-div">Boolean</label>
                    <label class="setting-type btn btn-default" rel="setting-array-div">Array</label>
                    <label class="setting-type btn btn-default" rel="setting-object-div">Object</label>
                </div>
            </div>

            <div class="form-group">
                <label for="value" class="col-sm-2 control-label">Settings</label>
                <div class="col-sm-6">
                    <div class="setting-boolean-div hidden">
                        <div class="btn-group">
                            <label class="setting-type-boolean btn btn-primary" rel="true">On</label>
                            <label class="setting-type-boolean btn btn-default" rel="false">Off</label>
                            <input id="addSettingBoolean" type="checkbox" name="setting-boolean" class="hidden" checked="true">
                        </div>
                    </div>

                    <div class="setting-array-div hidden">
                        <ul id="addSettingArray" class="list-unstyled" rel="0">
                            <li>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="setting-array_0">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button" onclick="addArrayRemoveInput(this)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </span>
                                </div>
                            </li>
                        </ul>

                        <button class="settings-array-add pull-right btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>

                    <div  class="setting-object-div hidden">
                        <textarea id="addSettingObject" class="form-control ng-isolate-scope" rows="12" cols="30"></textarea>
                    </div>

                    <div class="setting-default-div">
                        <input id="addSettingDefault" name="setting-default" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group no-margin-bottom" id="addSettingMessages">
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="alert alert-success no-margin-bottom hidden">Setting created successfully.</p>
                    <p class="alert alert-danger no-margin-bottom hidden"><strong>Creation failed</strong>. <span class="error-message"></span></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button class="btn btn-primary" id="submitSetting" onclick="addSetting(event)">Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}