{% extends 'ONGRSettingsBundle::layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-sm-offset-2 col-sm-6">Add profile</h2>
        </div>
        <form id="addProfileForm" class="form-horizontal" action="{{ path('ongr_settings_profile_set') }}" method="post" name="addProfileForm">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input id="addProfileName" type="text" name="profileName" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <input id="addProfileDescription" type="text" name="profileDescription" class="form-control"/>
                </div>
            </div>

            <div class="form-group no-margin-bottom" id="addProfileMessages">
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="alert alert-success no-margin-bottom
                        {% if success is not defined %}hidden{% endif %}">Profile created successfully.</p>
                    <p class="alert alert-danger no-margin-bottom
                        {% if errors is not defined %}hidden{% endif %}">
                        <strong>Creation failed</strong>. <span class="error-message">{% if errors is defined %}{{ errors }} {% endif %}</span></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button class="btn btn-primary" type="submit">Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}