{% extends 'ONGRSettingsBundle::base.html.twig' %}
{% block body %}
    <div id="setting-list-error" class="alert alert-danger alert-dismissible fade in" style="display: none;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4>You got an error!</h4>
        <p id="setting-list-error-message"></p>
    </div>
    <table id="settings" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
            <th>Profile</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

    {% include 'ONGRSettingsBundle:Settings:_setting-form.html.twig' %}
{% endblock %}