{% extends 'ONGRSettingsBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <table id="settings" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
            <th>Profile</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

    {% include 'ONGRSettingsBundle:Settings:_setting-form.html.twig' %}
{% endblock %}