<div id="experiment-form-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="experiment-action-title">Setting dialog</h4>
            </div>
            <div class="modal-body">
                <div id="experiment-form-error" class="alert alert-danger alert-dismissible fade in" style="display: none;" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4>You got an error!</h4>
                    <p id="experiment-form-error-message"></p>
                </div>
                <form name="setting" id="experiment-form" class="form-horizontal">
                    <input type="hidden" name="force"  id="force-update" value="0" />
                    <input type="hidden" name="setting[type]"  id="type" value="experiment" />
                    <input type="hidden" name="name"  id="experiment-name" value="" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="experiment_name">Name<span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" id="experiment-name-input" name="setting[name]" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="setting_name">Profiles</label>
                        <div class="col-sm-8">
                            <div id="profiles-container" class="pb-5">
                                <div class="checkbox"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group target-div">
                        <label class="col-sm-2 control-label" for="experiment_name"> Devices </label>
                        <div class="col-sm-8">
                            <div id="Devices-container" class="pb-5">
                                <div class="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group target-div">
                        <label class="col-sm-2 control-label" for="experiment_name"> Clients </label>
                        <div class="col-sm-8">
                            <div id="Clients-container" class="pb-5">
                                <div class="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group target-div">
                        <label class="col-sm-2 control-label" for="experiment_name"> OS </label>
                        <div class="col-sm-8">
                            <div id="OS-container" class="pb-5">
                                <div class="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="experiment-form-submit">Save changes</button>
            </div>
        </div>
    </div>
</div>

